extends layout

block content
    div(class='dictionary__update')
        h2(class='dictionary__title') dictionary update
        form(action = action, method = 'POST' class='dictionary__form__update')
            div(class='dictionary__form__item')
                label(for='name' class='dictionary__form__label') name:
                input(name='name' class='dictionary__form__input' value=dict.name)
            div(class='dictionary__form__item')
                label(for='author' class='dictionary__form__label') author:
                input(name='author' class='dictionary__form__input' value=dict.author)
            div(class='dictionary__form__item')
                label(for='description' class='dictionary__form__label') description
                input(name='description' class='dictionary__form__input', value=dict.description)
            button(type='submit' class='dictionary__form__submit') Send 