html
    head
        title Flashcards
        link(rel='stylesheet' href='/styles/layout.css' type='text/css')
    body
        header(class='header layout')
            h1(class='header__title') flashcards
            nav(class='menu')
                ul(class='menu__list')
                    li(class='menu__item')
                        a(href='/catalog', class='menu__link') Home
                    li(class='menu__item')
                        a(href='/catalog/dictionary/create', class='menu__link') Create
        section(class='container layout')
            block content
        footer(class='footer layout')
