html
    head
        title Flash Cards
    body
        header
        div
            p Dictonary
            ul
                li
                    a(href='/catalog') Home
                li
                    a(href='/catalog/dictonary/create') Create
        div
            block content
        footer
